.PopoverOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.PopoverContent {
	position: absolute;
	left: 0;
	border-radius: 0.25rem;
	top: calc(100% + 0.5rem);
	right: 0;
	z-index: 10;

	padding: 0.5rem;
	background-color: var(--background-color);
}