<svg
	x-ref="svg"
	:style="`background-color: ${backgroundColor}`"
	viewBox="0 0 700 700"
	xmlns="http://www.w3.org/2000/svg"
>
	<path
		fill="none"
		stroke-linecap="round"
		:stroke="strokeColor"
		:stroke-width="strokeWidth"
		:d="path"
		x-cloak
		:style="`stroke-dasharray: ${pathLength}; stroke-dashoffset: ${pathLength - (drawTime / 100 * pathLength)}; transition: ${isDrawing && pathLength !== null && drawTime > 0 ? 'stroke-dashoffset 1s linear' : 'none'}; will-change: stroke-dashoffset; opacity: ${pathLength ? 1 : 0}`"
	>
	</path>
</svg>
{% include 'progress-bar.njk' %}
<noscript>
	<p>The application requires JavaScript to work 💔.</p>
	<img src="https://api.harmonograph.art/28a745" alt="A randomised harmonograph">
</noscript>