<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="description" content="Draw, download and share a randomised harmonograph.">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<link rel="icon" type="image/png" href="/assets/icon-32.png">
<link rel="apple-touch-icon" href="/assets/icon-192.png">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://harmonograph.art/">
<meta property="og:title" content="harmonograph.art - v0.0.0">
<meta property="og:description" content="Draw, download and share a randomised harmonograph.">
<meta property="og:image" content="https://harmonograph.art/assets/icon-512.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://harmonograph.art/">
<meta property="twitter:title" content="harmonograph.art - v0.0.0">
<meta property="twitter:description" content="Draw, download and share a randomised harmonograph.">
<meta property="twitter:image" content="https://harmonograph.art/assets/icon-512.png">