<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'meta.njk' %}

	{% set css %}{% include 'css/style.css' %}{% endset %}
	<style>{{css | safe}}</style>
	<script>
		document.documentElement.classList.add('js');
		// Check that service workers are registered
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', function() {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
</head>
<body>
	<a class="skip-link sr-only" href="#content">Skip to content</a>

	<!-- Navigation -->
	{% include 'navigation.njk' %}

	<!-- The main content area -->
	<main
		id="content"
		x-data="getInitialData()"
		x-init="initApp()"
		@resize.window.debounce="setUpColorPicker('strokeColor'); setUpColorPicker('backgroundColor');"
	>
		<div class="app-container" x-cloak>
			{% include 'app.njk' %}
		</div>

		<!-- Sidebar -->
		<aside>
			{% include 'aside.njk' %}
		</aside>
	</main>
	<script>
		{% jsBundle %}
	</script>
</body>
</html>