/* Fixed for SVG on Safari :( */
.Svg {
	position: fixed;
	top: 4.5rem;
	right: 1.25rem;
	left: 1.25rem;
	padding: 1.25rem;
	height: calc( 100% - 50vh - 6rem);
	width: calc(100% - 2.5rem);
}

.Path {
	will-change: stroke-dashoffset;
}

@media (min-width: 50rem){
	.Svg {
		top: 2.5rem;
		left: 7.5rem;
		padding: 2.5rem;
		width: calc(100% - 10rem - 22rem);
		height: calc(100% - 5rem);
	}
}
