:root {
	--base-font: 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo, Consolas, Courier, monospace;
	--base-font-size: 1rem;
	--subdued-color: rgba(255,255,255,0.1);
	--background-color: #1C1C1E;
	--text-color: #fff;
	--frame-background-color: #050505;
	--active-color: #ffd900;
	--link-color: #1f8436;
	--link-bright-color: #3FD562;
	--link-muted-color: #BBDBEE;
	--icon-menu-sm: 3rem;
	--icon-menu-lg: 5rem;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	font-size: var(--base-font-size);
	font-weight: 300;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
	font-size: 0.9rem;
}