.SidebarFooter {
	padding: 1.25rem;
	border-top: 1px solid var(--subdued-color);
}

.SidebarHeader {
	border-bottom: 1px solid var(--subdued-color);
	padding: 1.25rem;
}

.SidebarHeaderTitle {
	font-size: 1rem;
	margin: 0;
}

.SidebarMain {
	padding: 1.25rem;
}
