.PageMain {
	order: 2;
	flex: 1 0 auto;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}

.PageAside {
	order: 3;
	height: 50vh;

	display: flex;
	flex-direction: column;
	background: var(--frame-background-color);
}

@media (min-width: 50rem){
	.PageAside {
		width: 22rem;
		min-height: 100vh;
	}
}