.ColorPicker {
	position: relative;
	overflow: hidden;
	height: 5rem;
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202%202%22%3E%3Cpath%20d%3D%22M1%202V0h1v1H0v1z%22%20fill-opacity%3D%22.05%22%2F%3E%3C%2Fsvg%3E");
	background-size: auto;
	background-size: 1rem 1rem;
	background-color: #fff;
	margin-bottom: 0.5rem;
	cursor: pointer;
	border-radius: 0.25rem;
}

.Hue {
	position: absolute;
	width: 100%;
	height: 100%;
	will-change: background-color;
}

.BlackGradient {
	background: rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
	height: 100%;
}

.WhiteGradient {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
	height: 100%;
	pointer-events: none;
}

.CurrentColor {
	width: 1rem;
	height: 1rem;
	position: absolute;
	pointer-events: none;
}

.CurrentColor:after {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	border: 1px solid #fff;
	box-shadow: #000 0 0 1px, #000 0 0 1px 0px inset;
	border-radius: 1rem;
}

.AlphaRangeSlider,
.HueRangeSlider {
	appearance: none;
	width: 100%;
	height: 0.75rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

.AlphaRangeSlider::-moz-range-thumb,
.AlphaRangeSlider::-webkit-slider-thumb,
.HueRangeSlider::-moz-range-thumb,
.HueRangeSlider::-webkit-slider-thumb {
	background: #fff;
	box-shadow: #000 0 0 1px;
	border: none;
}

.HueRangeSlider {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 17%, rgb(0, 255, 0) 33%, rgb(0, 255, 255) 50%, rgb(0, 0, 255) 67%, rgb(255, 0, 255) 83%, rgb(255, 0, 0) 100%) repeat scroll 0% 0%;
}
