.RangeSlider {
	appearance: none;
	height: 0.5rem;
	width: 100%;
	margin-bottom: 1rem;
	background: var(--background-color);
	cursor: pointer;
	border-radius: 0.25rem;
}

.RangeSlider::-moz-range-thumb,
.RangeSlider::-webkit-slider-thumb {
	background: #fff;
	border: none;
}


.RangeSlider:hover::-moz-range-thumb,
.RangeSlider:hover::-webkit-slider-thumb,
.RangeSlider:focus::-moz-range-thumb,
.RangeSlider:focus::-webkit-slider-thumb {
	outline: 2px solid var(--active-color);
	outline-offset: 4px;
}

.RangeSliderLabel {
	display: flex;
	align-items: center;
}