<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="/assets/icon-32.png">
    <link rel="apple-touch-icon" href="/assets/icon-192.png">
    <style>html,body{background:#1C1C1E;color:#fff;font-family:'SFMono-Medium','SFMono','SegoeUIMono','RobotoMono','UbuntuMono',Menlo,Consolas,Courier,monospace;margin:0;}</style>
    <% preact.headEnd %>
  </head>
  <body>
    <div class="app">
      <noscript>
        <div style="height:90vh;margin:5vh 5vw;text-align:center;display:grid;align-items:center;">
          <p>This app requires JavaScript to work. Enjoy a no javascript harmonograph ❤️</p>
          <img style="height:50vh;margin:0 auto;" src="https://api.harmonograph.art/3FD562" alt="Randomised lissajous curves">
        </div>
      </noscript>
      <% preact.bodyEnd %>
    </div>
  </body>
</html>